@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kriss Ceron</h1>
    <p>Haz click en <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmJYlGZ6FDBEKJuz43Vvymnu-uVsDFzIQopoIqbFkoSA&s">perrito tierno</a>.</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmJYlGZ6FDBEKJuz43Vvymnu-uVsDFzIQopoIqbFkoSA&s">
</div>
